.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../assets/images/b2.jpg");
  background-size: cover; // Đảm bảo ảnh phủ kín khu vực
  background-position: center; // Căn giữa ảnh
  background-repeat: no-repeat; // Không lặp lại ảnh
}

.box {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  text-align: center;
  width: 500px;
  min-height: 450px;
  margin: 20px;
}

.input {
  &-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;

    & input {
      width: calc(100% - 40px);
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 14px;
      padding-right: 40px;
      outline: none;
      background: #f0eeee;
      border: none;

      &::placeholder {
        color: gray;
        
      }
    }

    & .icon {
      position: absolute;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
}

.pass {
  margin-bottom: 0;
}
.back {
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;

  & span {
    display: flex;
    align-items: flex-start;
    color: gray;
    font-weight: 600;
  }
  &:hover {
    text-decoration: underline;
    color: gray;
  }
}

.logo img {
  width: 100px;
  margin-bottom: 20px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 0;

  & a {
    font-size: 16px;
    color: #ff5733;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: #ff6f00;
  }
}

.button-register{
  width: calc(100% - 40px);
  background: #a435f0;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.errorMsg {
  max-width: 100%;
  font-size: 0.85rem;
  color: rgb(248, 106, 106);
  text-align: left;
  margin-left: 25px;
  margin-top: -5px;
}

@media screen and (max-width: 1024px) {
  .box {
    width: 800px;
    min-height: 500px;
    padding: 80px 30px;
  }
  .input {
    &-group {
      & input {
        width: calc(100% - 60px);
        padding: 40px;
        font-size: 30px;
      }
      & .icon {
        right: 60px;
        font-size: 30px;
      }
    }
  }
  .button {
    width: calc(100% - 60px);
    padding: 40px;
    font-size: 25px;
  }
  .forgot-password {
    & i {
      font-size: 20px;
    }
  }

  .errorMsg {
    font-size: 20px;
    margin-left: 30px;
  }

  .back {
    & span {
      font-size: 20px;
    }
  }
}
.linkRegister{
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 8px;
  p{
    font-size: 17px;
  }
  .dangky{
    text-decoration: none;
    color: rgb(47, 142, 251);
    font-size: 17px;
  }
  .dangky:hover{
    color: red;
  }
}
