.footer {
  background-color: #2d2f31;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-section ul li:hover {
  color: #ddd;
}

.footer-right {
  position: relative;
  display: inline-block;

  .language-btn {
    background-color: white;
    color: black;
    width: 130px;
    height: 46px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    
  }

  .language-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    button {
      background-color: white;
      color: black;
      padding: 12px 16px;
      font-size: 15px;
      text-align: center;
      border: none;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: #b3afaf;
      }
    }
  }
}


.language-btn:hover {
  background: #fff;
  color: #000;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  border-top: 1px solid #444;
}

.footer-logo img {
  height: 40px;
}

.footer-copyright {
  font-size: 14px;
}