@import '../../styles/mixins';
.banner-sileders {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 60px ;
  @include mobile {
    width: 100%;
    height: 50%;
    margin-left: 0;
    padding-top: 0;
  }
  @include tablet {
    width: 100%;
    height: 400px;
  }
  @include small-tablet {
    width: 93%;
    margin-left: 20px;
    padding-top: 0;
  }
  .banner-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include tablet {
      height: 100%;
      width: 100%;
    }
  }
}
